<mat-nav-list class="sidenav-mat-mat-nav-list">
    <mat-list-item (click)="onClickNavigateToHomeBtnHandler()">
        HOME
    </mat-list-item>
    <mat-list-item (click)="onClickNavigateToPopularMoviesBtnHandler()">
        FILMS POPULAIRES
    </mat-list-item>
    <mat-list-item (click)="onClickNavigateToSearchMoviesBtnHandler()">
        SEARCH MOVIES
    </mat-list-item>
    <mat-list-item>
        A PROPOS
    </mat-list-item>
    <mat-list-item>
        MENTIONS LEGALS
    </mat-list-item>
</mat-nav-list>
