.search-form {
    width: calc(100% - 2rem);
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 2rem;
    margin-bottom: 2rem;
}



/* Font color */
input.mat-input-element {
    color: black !important;
}


::ng-deep {
    .mat-form-field-appearance-outline .mat-form-field-outline {
        color: #c2185b;
    }
    mat-form-field {
        .mat-hint, input, ::placeholder, .mat-form-field-label {
            color: #c2185b;
        }
    }
}
