<div class="h-100 w-100">
    <div class="search-form">
        <mat-form-field color="primary" appearance="outline" style="width: 90%; margin-right: 1rem">
            <mat-label>Recherche</mat-label>
            <input [(ngModel)]="searchInput" matInput placeholder="exemple : The God Father" class="mat-input-element">
            <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
            <mat-hint>Recherche par mots clés</mat-hint>
        </mat-form-field>
        <button mat-mini-fab
                color="primary"
                style="margin-top: 0.7rem"
                (click)="onClickSearchMovies()">
            <mat-icon>search</mat-icon>
        </button>
    </div>
    <ng-container *ngIf="loaded && searchedMovies">
        <div style="padding: 0 4rem; margin-bottom: 1rem;">
            <mat-paginator #paginator
                           [length]="searchedMovies.total_results"
                           [pageSize]="20"
                           (page)="setPageNumberAndSearchMovies($event.pageIndex + 1)"
                           [showFirstLastButtons]="true"
                           [hidePageSize]="true"
                           [pageIndex]="pageIndex - 1">
            </mat-paginator>
        </div>
        <app-movies-datagrid [movies]="searchedMovies"></app-movies-datagrid>
    </ng-container>
    <ng-container *ngIf="!loaded">
        <div class="w-100 h-100-vh d-flex justify-center">
            <mat-spinner class="m-auto"></mat-spinner>
        </div>
    </ng-container>
    <ng-container *ngIf="!loaded">
        <div style="margin: 4rem; padding: 1rem">
            <h1 style="text-align: center">ERROR LOADING !</h1>
        </div>
    </ng-container>
</div>
