.movie-details-banner {
    display: flex;
    flex-direction: row;
    padding: 2rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    background-color: #9d003a;
    border-radius: 1rem;
}

.movie-details-poster-card {
    height: 26rem;
    margin-right: 2rem;
}

.movie-details-poster-img {
    height: 24rem;
}

.movie-details-banner-details {
    min-width: 75%;
    display: flex;
    flex-direction: column;
    padding: 2rem 0rem;
}

.movie-details-overview {
    width: 90% !important;
    display: block;
    padding: 1rem;
    margin-top: 1rem;
    background-color: #424242;

    p {
        width: calc(100% - 2rem);
        padding: 1rem;
    }
}

.movie-videos-datagrid-container {
    height: 100%;
    position: relative;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
    grid-gap: 2.5rem;
    margin: 4rem;
}
