<mat-toolbar color="primary">
    <img class="app-image-banner" src="assets/images/emi-az-mdb.png">
    <span class="toolbar-mini-spacer"></span>
    <button mat-icon-button
            class="nav-button-icon"
            (click)="onClickToggleSideNavBarBtnHandler()">
        <mat-icon>menu</mat-icon>
    </button>
    <span class="toolbar-mini-spacer"></span>
    <button mat-icon-button
            class="nav-button-icon"
            matTooltip="home"
            (click)="onClickHomeBtnHandler()">
        <mat-icon>home</mat-icon>
    </button>
    <button mat-icon-button
            class="nav-button-icon"
            matTooltip="films populaires"
            (click)="onClickPopularMoviesBtnHandler()">
        <mat-icon>whatshot</mat-icon>
    </button>
    <span class="toolbar-content-spacer"></span>
    <button mat-icon-button
            class="nav-button-icon"
            matTooltip="share">
        <mat-icon>share</mat-icon>
    </button>
</mat-toolbar>
